{% extends 'photos/main.html' %}
{% block content %}
<style>
    .container{
        text-align: center;
    }
    .hiy{
        justify-content: space-between;
    }
</style>
<div class="m-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <a class="btn btn-dark my-3" class="hi" href="{% url 'gallery' %}">Go Back</a>
                {% if request.user.is_superuser %}
                <a class="btn btn-dark my-3" class="helo" href="{% url 'delete' photos.id %}">Delete</a>
                {% elif a %}
                <a class="btn btn-dark my-3" class="helo" href="{% url 'delete' photos.id %}">Delete</a>
                {% endif %}
                <div style="height: 50vh">
                    <img style="max-width: 100%; max-height: 100%;" src="{{photos.image.url}}">
                <p>{{photos.description}} {{a}}</p>
                <a class="btn btn-dark my-3" class="hi" href="{% url 'send' photos.id %}">Send Via Email</a
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}